<div>
  <div class="d-flex justify-content-between">
    <span>Net Total:</span>
    <span class="summary-net">{{ summary.netTotal }}</span>
  </div>

  <div class="d-flex justify-content-between">
    <span>VAT:</span>
    <span class="summary-vat">{{ summary.totalVat }}</span>
  </div>
  <div class="d-flex justify-content-between">
    <span>Transport:</span>
    <span class="summary-transport">{{ summary.transportFee }}</span>
  </div>
  <hr>
  <div class="d-flex justify-content-between">
    <span>Total:</span>
    <span class="summary-total">{{ summary.totalPrice }}</span>
  </div>
</div>
