<div class="d-flex flex-row justify-content-between align-items-center" style="width: 500px !important;">
  <div class="col">
    <div class="item-name">
      {{ item!.product.name }}
    </div>
  </div>

  <div class="col">
    <div class="d-flex flex-row align-items-center justify-content-end flex-wrap">
      <span class="ms-2 d-flex flex-row align-items-center">
        <label class="me-1" for="quantity">qty:</label>
        <input class="form-control item-quantity" [ngModel]="item!.quantity" (ngModelChange)="handleQuantityChange($event)" type="number" name="quantity" style="width: 70px;">
      </span>
    </div>
  </div>

  <div class="col-lg-5">
    <div class="d-flex flex-row align-items-center justify-content-end flex-wrap">
      <span class="ms-2">
        <span class="item-price">{{ getItemPrice() | currency }}</span>
        <span class="item-discount" style="font-size: 11px;">{{ getDiscountAmount() | discountAmount }}</span>
      </span>
    </div>
  </div>
</div>
