.product-card-quantity {
  width: 70px;
}

.side-cart {
  max-width: 300px;
  border-left: 1px solid silver;
}


.style-seven {
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
.style-seven:before { /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.item-added-label {
  background-color: green;
  color: white;
  padding: 4px;
  margin-top: 8px;
  text-align: center;
}
