<head >
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,200" />
</head>
<body>
  <app-back-dialog-button></app-back-dialog-button>
  <div class='container'>
    <div class='window'>
      <div class='order-info'>
        <div class='order-info-content'>
            <h2>Order Summary</h2>
            <div class='line'></div>
            <ul class="list-group" id="items-list">
              <li class="list-group-item item" *ngFor="let item of items$ | async; trackBy: trackById">
                <app-cart-item [item]="item" [vat]="(vat$ | async) ?? 0" (quantityChange)="updateQuantity(item, $event)"></app-cart-item>
              </li>
            </ul>
          <div class='line'></div>
          <br/>
          <div class='total'>
          </div>
          <div class="mt-5" style="position: absolute; bottom: 45px; width: 72%;">
            <h3>Total:</h3>
            <div class="order-summary">
              <app-summary [items]="items$ | async" [vat]="(vat$ | async) ?? 0"></app-summary>
            </div>
          </div>
        </div>
      </div>
      <div class='credit-info'>
        <div class='credit-info-content'>
          <table class='half-input-table'>
            <tr><td>Please select your card: </td><td><div class='dropdown' id='card-dropdown'><div class='dropdown-btn' id='current-card'>Visa</div>
              <div class='dropdown-select'>
              <ul>
                <li>Master Card</li>
                <li>American Express</li>
                </ul></div>
              </div>
              </td></tr>
          </table>
          <img src='https://dl.dropboxusercontent.com/s/ubamyu6mzov5c80/visa_logo%20%281%29.png' height='80' class='credit-card-image' id='credit-card-image'>
          Card Number
          <input placeholder="1234 5678 9123 5647" class='input-field'>
          Card Holder
          <input placeholder="Mario Rossi" class='input-field'>
          <table class='half-input-table'>
            <tr>
              <td> Expires
                <input placeholder="01/01" class='input-field'>
              </td>
              <td>CVC
                <input maxlength="3" placeholder="123" class='input-field'>
              </td>
            </tr>
          </table>
          <button type="button" class="btn btn-success"  style="position: absolute; bottom: 45px; width: 90%; height: 60px;">Pay Now</button>
        </div>
      </div>
    </div>
  </div>
</body>
